{% extends 'base.html' %}

{% block content %}
<section class="playerdetailpage">

    <article class="playerDetailTopView">
        <div class="detailLeftTopView">
            <h2> {{ player.firstName}} {{ player.name}} </h2>   
            <p> {{ player.poste.abrev }} . <span> #{{ player.number }} </span></p>
            <a href="{% url 'team_detail' player.team.id %}"> {{ player.team.town }} {{player.team.name}} </a>
            <div class="">
                {% if player.injury == False and player.actif == True %}
                    <h3 class="playerStatus">Active</h3>
                {% elif player.injury != False and player.actif == True %}
                    <h3 class="playerStatus">Injured</h3>
                {% else %}
                    <h3 class="playerStatus">Out</h3>
                {% endif %}
            </div>
        </div>
        <!-- div for css background -->
        <div class="detailBackgroundColorTwo detailbackgroundteamColorTwo-{{player.team.id}}"></div>
        <div class="detailBackgroundColorOne detailbackgroundteamColorOne-{{player.team.id}}"><img class="playerImgToDetails"  src="{{ player.thumbnail.url }}" alt=""></div>
    </article>

    <article class="InfosStatsContainer">
        <div class="gridInfosStats">
            <div class="linkInfosStats">
                <ul>
                    <li class="liInfos">Info</li>
                    <li class="liStats">Stats (inactif)</li>
                </ul>
            </div>
        </div>
    </article>

    <article class="gridBlockPLayerInfo">
        <div class="blockPlayerInfo">
            <div class="cardinfoPLayer">
                <article>
                    <div class="headerBoxPlayerInfo">
                        <h4>PLayer infos</h4>
                    </div>
                    <div class="contentBoxPLayerInfo">
                        <div class="physicalPlayerInfo">
                             poids taille
                        </div>
                        <div class="experiencePlayerInfo">
                            experience college age
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </article>

    <article class="crudPlayer">
        <a href="{% url 'player_detail_edit' player.pk %}">
            <button class="btn btn-primary" type="button">Modifier</button>
        </a>
        <a href="{% url 'player_detail_delete' player.pk %}">
            <button class="btn btn-danger" type="button">Supprimer</button>
        </a>
    </article>
</section>
    
{% endblock %}