@charset "UTF-8";
.btn {
  background-color: white;
  padding-top: 1px;
  color: blue;
}

.btn > span {
  font-size: 0.8rem;
}

.scroll-btn {
  height: 100%;
  width: 25px;
  border: none;
}

.navbar-toggler {
  border: none;
}

/* Styles pour le bouton interrupteur */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  border-radius: 50%;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

/* Quand le bouton est "on" (activé) */
input:checked + .slider {
  background-color: #0616f7;
}

input:checked + .slider:before {
  transform: translateX(13px);
}

html {
  box-sizing: border-box;
  font-family: "roboto";
  -webkit-font-smoothing: antialiased;
}

*, *:after, *:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

*::first-letter {
  text-transform: capitalize;
}

.container, body {
  background-color: rgb(238, 238, 238);
}

a {
  text-decoration: none;
  color: black;
}

.bold-800 {
  font-weight: 800;
}

.bg-grey {
  background-color: rgb(238, 238, 238);
}

.d-f {
  display: flex;
  align-items: stretch; /* Aligne les éléments en hauteur */
  overflow: hidden; /* Empêche le débordement horizontal du conteneur global */
  width: 100%;
}

header {
  background-color: white;
}

.gamepassText {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 800;
  color: white;
}

.GP_hidden {
  display: none;
}

/* ----------------------- Navbar ------------------------------------ */
.viewResultMatch {
  display: flex;
  overflow-x: scroll; /* Permet le défilement horizontal */
  margin: 0;
  padding-left: 0;
  width: 100%; /* Assure que la largeur du conteneur reste limitée à l'écran */
  -webkit-overflow-scrolling: touch; /* Pour un défilement fluide sur iOS */
  white-space: nowrap; /* Empêche le retour à la ligne des éléments dans la navbar */
  box-sizing: border-box;
}

.viewResultMatch::-webkit-scrollbar {
  display: none;
}

.liplayGameCard {
  width: 50%;
  flex: 0 0 auto; /* Empêche les éléments de se redimensionner */
  list-style: none;
  font-size: 0.6rem;
  background-color: rgb(247, 246, 246);
  border-left: 1px solid rgb(202, 202, 202);
}

.redzoneCard {
  display: grid;
  grid-template-rows: 67%;
  width: 25%;
  flex: 0 0 auto; /* Empêche les éléments de se redimensionner */
  list-style: none;
  font-size: 0.6rem;
  background-color: rgb(247, 246, 246);
  border-left: 1px solid rgb(202, 202, 202);
  align-items: center;
}
.redzoneCard .week {
  grid-row: 3;
}

.playGame_team-info {
  display: flex;
  flex-direction: column;
}

.team-local, .team-visitor {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 0.5rem;
  padding-right: 0.3rem;
  /* & .team_bilan{
      font-size: 0.5rem;
  } */
}
.team-local .info_score, .team-visitor .info_score {
  display: flex;
  align-items: center;
}

.week {
  text-align: center;
  padding-bottom: 3px;
  padding-top: 3px;
  text-transform: uppercase;
  background-color: rgb(238, 238, 238);
  color: grey;
}

.imgRedzoneNavBar {
  width: 100%;
}

.imgTeamNavBar {
  width: 30%;
  height: auto;
}

.topMenu {
  padding: 1rem 3rem 1rem 1rem;
  background-color: rgba(1, 1, 31, 0.87);
  color: white;
}

.menuNavbar {
  padding: 0rem 0.2rem 0rem 0.7rem;
  margin-left: 5%;
}

.divNavBar {
  width: 100%;
}

.divLogo {
  justify-content: center; /* Centrer horizontalement si nécessaire */
  height: 40px; /* Hauteur du conteneur */
  width: auto; /* Ajuste automatiquement la largeur */
}

.logoNavBAr {
  max-width: 100%; /* Ne dépasse jamais la largeur du conteneur */
  max-height: 100%; /* Ne dépasse jamais la hauteur du conteneur */
  -o-object-fit: contain;
     object-fit: contain; /* Permet de voir l'image en entier sans la couper */
}

.teamDivisionMenu {
  display: flex !important;
  flex-wrap: wrap; /* Permet de passer à la ligne */
  width: 100%; /* Largeur définie pour contenir 4 éléments par ligne */
  list-style: none; /* Supprime les puces */
}

.teamDivisionMenu li {
  flex: 0 0 calc(25% - 10px); /* Chaque élément prend 25% moins une petite marge */
  text-align: center; /* Centre le texte */
}

.divDivision {
  width: 200px;
  padding-left: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  color: rgb(137, 137, 137);
  font-weight: 500;
}
.divDivision div {
  border-top: 1px solid rgb(137, 137, 137);
}
.divDivision li {
  font-size: 0.75rem;
  text-align: start;
  padding: 0;
}

footer {
  margin-top: 1rem;
  padding: 1rem 3rem 1rem 2rem;
  background-color: rgba(1, 1, 31, 0.87);
  color: white;
}

/* ----------------------- Home Page -------------------------------- */
.box_link_appli {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box_link_appli img {
  max-width: 100%;
  height: auto;
  display: block;
}

.link_appli_teams, .link_appli_players {
  width: 100%;
  text-align: center;
  margin: 2%;
}

/* -------------------------- Player View ------------------------------ */
.playerView {
  display: flex;
  flex-wrap: wrap;
}

.playerCard {
  width: 100%;
  height: 450px;
  background-color: transparent;
  margin: 8px;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1;
}

.backgroundCardPlayer {
  background-image: url("../../../media/card_backgroung.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0% 20%, 100% 10%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 20%, 100% 10%, 100% 100%, 0% 100%);
  position: absolute;
  z-index: -1;
  width: 90%; /* Réduction de la largeur */
  height: 100%;
  left: 5%; /* Centrage horizontal (90% de largeur + 5% de marge de chaque côté) */
}

.player_stat_img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  position: absolute;
  top: 10%;
  padding-left: 3px;
}

.ranking_position {
  display: flex;
  flex-direction: column;
  width: -moz-max-content;
  width: max-content;
  height: 150px;
  padding: 4px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 2px 2px black;
}
.ranking_position h6 {
  font-size: 1.4rem;
}
.ranking_position h3 {
  font-weight: 800;
  font-size: 2.5rem;
}
.ranking_position img {
  width: 95%;
}

.player_card_body {
  position: absolute;
  bottom: 18%;
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  text-shadow: 1px 2px 2px black;
  font-style: italic;
}
.player_card_body h6 {
  font-size: 1.4rem;
}
.player_card_body h3 {
  font-weight: 700;
  font-size: 2rem;
}

.img_player {
  position: relative;
  left: -23%;
}

.crud_player {
  position: absolute;
  bottom: -3%;
  left: 20%;
}
.crud_player h4 {
  text-shadow: 1px 2px 2px black;
  font-weight: 700;
  font-size: 1.5rem;
}

.logo_draft {
  width: 35%;
}

.messages {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #4caf50; /* Vert pour les succès */
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 1; /* Initialement complètement visible */
  list-style: none;
}

.messages.error {
  background-color: #f44336; /* Rouge pour les erreurs */
}

.messages.warning {
  background-color: #ff9800; /* Orange pour les avertissements */
}

/* -------------------------- End Player View -------------------------- */
/* -------------------------- PLayer Detail View ----------------------- */
.playerDetailTopView {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 140px;
}

.detailLeftTopView {
  width: 60%;
  background-color: rgb(238, 238, 238);
  margin: 0;
  padding-left: 2%;
  padding-top: 5%;
  height: auto;
}
.detailLeftTopView h2 {
  font-weight: 500;
  margin-top: 2%;
}
.detailLeftTopView p {
  font-weight: 500;
  margin-bottom: 0;
  font-size: 0.7rem;
}
.detailLeftTopView a {
  font-weight: 500;
  font-size: 0.7rem;
}

.playerStatus {
  background-color: rgb(26, 177, 26);
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1%;
  padding: 0px 8px 3px 8px;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
}

.detailBackgroundColorTwo {
  position: relative;
  display: inline-block;
  width: 2%;
}

.detailBackgroundColorOne {
  position: relative;
  display: inline-block;
  width: 38%;
}

.detailBackgroundColorTwo::before {
  z-index: 1;
  content: "";
  position: absolute;
  left: -180%;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: inherit;
  transform: skewX(-10deg);
}

.detailBackgroundColorOne::before {
  z-index: 1;
  content: "";
  position: absolute;
  left: -10%;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: inherit;
  transform: skewX(-10deg);
}

.playerImgToDetails {
  width: 150%;
  height: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  left: -35%;
  top: 13%;
}

@media screen and (min-width: 375px) {
  .playerImgToDetails {
    width: 127%;
  }
}
.InfosStatsContainer {
  background-color: rgb(238, 238, 238);
  margin: 0;
}

.gridInfosStats {
  padding-top: 4%;
  padding-bottom: 4%;
  width: auto;
}

.linkInfosStats {
  display: flex;
  width: 100%;
  margin: auto;
}
.linkInfosStats ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.linkInfosStats ul > li {
  list-style: none;
  width: 40%;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid blue;
}

.liStats {
  background-color: white;
}

.liInfos, .liStats:hover {
  background-color: blue;
  color: white;
}

.gridBlockPlayerInfo {
  grid-template-columns: [viewport-start] 1fr [content-start] minmax(0, 1248px) [content-end] 1fr [viewport-end];
  grid-template-rows: [row] 1fr;
}

.blockPlayerInfo {
  display: grid;
  grid-template-rows: [row] 1fr;
  grid-template-columns: repeat(12, [col] minmax(0px, 110px));
  grid-gap: calc(2.28571px + 1.78571vw);
  width: 100%;
  height: 300px;
  background-color: rgb(238, 238, 238);
}

.cardinfoPLayer {
  grid-column: span 12;
  grid-column-end: auto;
  background-color: white;
}

.crudPlayer {
  margin-top: 2%;
}

/* -------------------------- End PLayer Detail View ------------------- */
/* ------------------------- All Team View --------------------------------- */
.teamView {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.teamCard {
  margin: 0.5rem;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.teamCardHeader > img {
  width: 100%;
}

.teamLink {
  text-decoration: none;
  color: white;
}

/* -------------------------- End All Team View ---------------------------- */
/* ------------------------- Team View Detail --------------------------------- */
.nameTeamDetail {
  font-size: 1.2rem;
  font-weight: 400;
}

.teamBilan, .teamDivision {
  font-size: 0.8rem;
}

.linkInfosStatsTeam {
  display: flex;
  width: 100%;
  margin: auto;
}
.linkInfosStatsTeam ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.linkInfosStatsTeam ul > li {
  list-style: none;
  width: 25%;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid blue;
}

.liStatsTeam, .liInfosTeam {
  background-color: white;
}

.liRoosterTeam, .liStatsTeam:hover, .liInfosTeam:hover {
  background-color: blue;
  color: white;
}

.teamImgToDetails {
  width: 75%;
  height: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  left: -30%;
  top: 10%;
}

/* -------------------------- End Team View Detail ---------------------------- */
@media screen and (min-width: 425px) {
  .img_player {
    left: -8%;
  }
  .crud_player {
    position: absolute;
    bottom: -5%;
  }
  .liplayGameCard {
    width: 34%;
  }
  .redzoneCard {
    width: 22%;
  }
  .playerDetailTopView {
    height: 160px;
  }
}
@media screen and (min-width: 768px) {
  .topMenu {
    padding: 1rem 4rem 1rem 4rem;
  }
  .GP_hidden {
    display: block;
    visibility: visible;
  }
  .teamCard {
    width: 46%;
  }
  .playerCard {
    width: 60%;
    margin: auto;
  }
  .playerDetailTopView {
    height: 220px;
  }
  .playerImgToDetails {
    width: 101%;
  }
  .teamImgToDetails {
    width: 60%;
  }
  .img_player {
    left: 0%;
  }
  .link_appli_teams, .link_appli_players {
    width: 60%;
  }
  .liplayGameCard {
    width: 15%;
  }
  .redzoneCard {
    width: 12%;
  }
}
@media screen and (min-width: 992px) {
  .teamCard {
    width: 30%;
  }
  /* --------------------- NavBar ----------------------------------- */
  .logoNavBAr {
    width: 70%;
  }
  .teamDivisionMenu {
    width: 800px;
  }
  .nav-item.dropdown .dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
  }
  .liplayGameCard {
    width: 15%;
  }
  .redzoneCard {
    width: 12%;
  }
  /* --------------------- End NavBar ------------------------------- */
  /* --------------------- Home Page ----------------------------------- */
  .link_appli_teams, .link_appli_players {
    width: 40%;
  }
  /* ---------------------- End Home Page ------------------------------- */
  .playerDetailTopView {
    height: 250px;
  }
  .playerCard {
    width: 40%;
  }
  .playerImgToDetails {
    width: 85.5%;
  }
}
@media screen and (min-width: 1200px) {
  .teamCard {
    width: 14%;
  }
  .playerCard {
    width: 30%;
  }
  .playerCardDetail {
    width: 50%;
  }
  .crud_player {
    position: absolute;
    bottom: -4%;
  }
  .liplayGameCard {
    width: 10%;
  }
  .redzoneCard {
    width: 10%;
  }
  .teamImgToDetails {
    top: 2%;
    width: 50%;
  }
}
@media screen and (min-width: 1440px) {
  .liplayGameCard {
    width: 7%;
  }
  .redzoneCard {
    width: 8%;
  }
  .playerImgToDetails {
    width: 62%;
  }
}/*# sourceMappingURL=main.css.map */