{% extends 'base.html' %}

{% block content %}

<h1> NFL Team </h1>
<a href="/">Retour à la page d'accueil</a>
<a href="{% url 'players_index' %}">Voir les joueurs</a>
<article class="teamView"> 
    {% for team in teams %}
    <div class="teamCard ">
        <div class="teamCardHeader">  
            <img src="{{ team.thumbnail.url }}" alt="logo des Kansas City Chiefs">
        </div>
        <div class="cardBody">
            <h2> {{ team.name}} </h2>
            <p> {{ team.stadium }}</p>
        </div>
    </div>
    {% endfor %}  
</article>
{% endblock %}