{% extends 'base.html' %}

{% block content %}

    <h1> NFL Players </h1>
    <a href="/">Retour à la page d'accueil</a>
    <article class="playerView"> 
        {% for player in players %}
        <div class="playerCard">
            
                <h2> {{ player.team.name }}</h2>
            </div>
            <div class="playerCardHeader">  
                <img class="playerPhoto" src="{{ player.thumbnail.url }}" alt="{{ player.name }}">
            </div>
            <div class="cardBody">
                <h2>{{ player.name }} {{ player.firstName }}</h2>
                
            </div>
        </div>
        {% endfor %}  
    </article>
    
{% endblock %}