<footer>
    <section>

        <article>
            <div class="flex f-nowrap space-between w_100 ">
                {% for conference in conferences %}
                <div class="mb-3">
                    <h6>{{ conference.shortName}}</h6>
                    <div class="flex f-wrap">
                        {% for division in conference.divisions.all %}
                        {% for team in division.teams.all %}
                            <img class="team_logo_footer" src="{{ team.thumbnail.url }}" alt=" logo {{ team.name}}">
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
         
        </article>
        <a class="nav-link " href="/admin" target="_blank">Admin</a>
    </section>
    
</footer>