<footer>
    <section class="">

        <article>
            <div>
                {% for conference in conferences %}
                <div>
                    <h6>{{ conference.shortName}}</h6>
                    <div class="flex f-wrap">
                        {% for division in conference.divisions.all %}
                        {% for team in division.teams.all %}
                        <div>
                            <img class="team_logo_footer" src="{{ team.thumbnail.url }}" alt=" logo {{ team.name}}">
                        </div>
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
         
        </article>
        <a class="nav-link " href="/admin" target="_blank">Admin</a>
    </section>
    
</footer>