<footer>
    <section class="container">

        <article class="row">
            {% for conference in conferences %}
                <div class="col">
                    {{ conference.name}}
                    {% for team in conference.division.name.teams.all %}
                    <div>
                        {{ team}}
                    </div>
                </div>
            {% endfor %}
        </article>

    </section>
    <a class="nav-link " href="/admin" target="_blank">Admin</a>
</footer>