.btn{
    background-color: white;
    padding: 3px 8px;
    color: blue;
}
.btn>span{
    font-size: ;
}

.scroll-btn {
    height: 100%;
    width: 25px;
    border: none;
}
.navbar-toggler{
    border: none;
}
