.btn{
    background-color: white;
    padding: 3x 8px;
    & a {
        font-size: 0.7rem;
    }
}

.scroll-btn {
    height: 100%;
    width: 25px;
    border: none;
}
.navbar-toggler{
    border: none;
}
