.btn{
    background-color: white;
    padding-top: 1px;
    color: blue;
}
.btn>span{
    font-size: 0.7rem;
}

.scroll-btn {
    height: 100%;
    width: 25px;
    border: none;
}
.navbar-toggler{
    border: none;
}
