@media screen and (min-width: 425px) {
    .img_player{
        left: -8%;
    }
    .crud_player{
        position: absolute;
        bottom: -5%;
    }
    .liplayGameCard{
        width: 34%;
    }
    .redzoneCard{
        width: 22%;
    }
    
}