{% extends 'base.html' %}

{% block content %}
<section class="teamDetailContainer">
    <article class="cardTeamDetail teamColorOne-{{ team.id }}">
        <div>
            <img src="{{ team.thumbnail.url }}" alt="logo des {{team.town}} {{team.name}}">
        </div>
        <div class="detailTeam teamColorTwo-{{ team.id }}">
            <div>
                <h1> {{team.name}} de {{team.town}} </h1>
            </div>
            <div>
                <p>Franchise fondée en {{ team.founded|date:'Y' }}</p>
                <p>{{ team.stadium }}</p>
                {% for coach in coaches %}
                    <p>Head Coach : {{ coach.name }} {{ coach.firstName }}</p>
                {% endfor %}
                
            </div>
        </div>

    </article>
   
</section>
<a href="{% url 'teams_index' %}">Retour</a>

{% endblock %}