{% extends 'base.html' %}

{% block content %}

    <h1> Update Playgame </h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if errors %}
    <ul>
        {% for field, error_list in errors.items %}
            <li>{{ field }}: {{ error_list|join:", " }}</li>
        {% endfor %}
    </ul>
{% endif %}
        <input class="btn btn-primary" type="submit" value="{{ submit_text }}" name="" id="addplayer">
    </form>
    
{% endblock %}